name: Deploy Static Site

on:
  workflow_call:
    inputs:
      node_version:
        description: 'Node.js version to use'
        default: '20'
        required: false
        type: string
      build_command:
        description: 'Command to build the project'
        default: 'pnpm build'
        required: false
        type: string
      output_dir:
        description: 'Directory containing build artifacts'
        default: 'out'
        required: false
        type: string
      target_dir:
        description: 'Remote directory to deploy to'
        required: true
        type: string
    secrets:
      HOST:
        required: true
      USER:
        required: true
      KEY:
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.node_version }}
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build
        run: ${{ inputs.build_command }}

      - name: Deploy via SCP
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER }}
          key: ${{ secrets.KEY }}
          source: "${{ inputs.output_dir }}/*"
          target: ${{ inputs.target_dir }}
          strip_components: 1 # Removes the parent folder name (e.g. 'out/') when copying
          rm: true

      - name: Reload Nginx
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER }}
          key: ${{ secrets.KEY }}
          script: |
            sudo nginx -t
            sudo systemctl reload nginx
